.register {
  width: 100%;
  height: 100vh;
  background-color: var(--color-lightseagreen);
}

.formlogin {
  margin-right: 100px;
}

.formregister {
  margin-left: 100px;
}

.formcontainer {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-lightseagreen);
}

/* Spinner.css */
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 0.7); 
  z-index: 9999; 
}

.spin {
  color: #fff; 
}


.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.784);
  color: rgba(255, 255, 255, 0.568);
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;
}

.label-auth label {
  color: var(--color-golden) !important;
}

#reglink {
  color: rgba(255, 255, 255, 0.536) !important;
}

.register h1 {
  font-size: 35px;
  color: white;
  font-weight: 600;
}

.primary {
  font-size: 1rem;
  margin-left: 5px;
  margin-bottom: 6px;
  padding: 9px 9px;
  border: 1px solid white;
  background-color: var(--color-brightblue);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


@media screen and (max-width: 650px) {
  .register {
    width: 100%;
    height: 100vh;
  }

  .lottieanime {
    background-color: var(--color-lightseagreen);
  }

  .formlogin {
    margin-right: 0px;
  }

  .formregister {
    margin-left: 0px;
  }

  .formcontainer {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .register {
    width: 100%;
    height: 100vh;
  }

  .lottieanime {
    background-color: var(--color-lightseagreen);
  }

  .formlogin {
    margin-right: 0px;
  }

  .formregister {
    margin-left: 0px;
  }

  .formcontainer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-lightseagreen);
  }

}